<!doctype html>
<div>
  <h1>JYNX</h1>
		<p>Create a customized, sharable portfolio of your favorite cryptos</p>
    <form [formGroup]="chartForm" (ngSubmit)="addCoin(chartForm.value)">
        <select name="coinName" [formControl]="chartForm.controls['coinName']">
          <option value="Bitcoin">BTC</option>
          <option value="Litecoin">LTC</option>
          <option value="Tronix">TRX</option>
        </select>
        <label for="coinAmtInput">Enter The Amount:</label>
        <input type="text" id="coinAmtInput" [formControl]="chartForm.controls['coinAmt']"/>
        <button type="submit">Submit</button>

    </form>

</div>
<div id="pieContainer">
    <div id="myPie"></div>
</div>
