<!doctype html>
<div>
  <h1>JYNX</h1>
		<p>Create a customized, sharable portfolio of your favorite cryptos</p>
		<div class="input_fields_wrap">
		<select id="combo">
			<option value="Bitcoin">Bitcoin - BTC</option>
			<option value="Ethereum">Ethereum - ETH</option>
			<option value="Bitcoin Cash">Bitcoin Cash - BCH</option>
			<option value="Ripple">Ripple - XRP</option>
				<option value="Litecoin">Litecoin - LTC</option>
			<option value="IOTA">IOTA - MIOTA</option>
			<option value="Cardano">Cardano - ADA</option>
			<option value="Dash">Dash - DASH</option>
			<option value="NEM">NEM - XEM</option>
			<option value="Bitcoin Gold">Bitcon Gold - BTG</option>
			<option value="Monero">Monero - XMR</option>
			<option value="EOS">EOS - EOS</option>
			<option value="Qtum">Qtum - QTUM</option>
			<option value="Stellar">Stellar - XLM</option>
			<option value="NEO">NEO - NEO</option>
			<option value="Ethereum">Ethereum Classic - ETC</option>
			<option value="TRON">TRON - TRX</option>
			<option value="Lisk">Lisk - LSK</option>
			<option value="BitcoinConnect">BitConnect - BCC</option>
			<option value="ZCash">ZCash - ZEC</option>
		</select>
		<div id="ammountDiv">
				<input type="text" name="mytext" id="coinAmt" placeholder="Enter Amount">
		</div>
		<input id="resetButton" type="button" value="Reset" />
		<input id="dropDownButton" type="button" value="Enter" />
		</div>
</div>
<div id="pieContainer">
    <div id="myPie"></div>
</div>
