  <div class="ui teal inverted menu admin-banner">
    <h2>Administrator Mode - Edit your sharable portfolio below</h2>
  </div>
  <div class="ui huge borderless fluid menu">
    <h2 class="header item">{{portfolioName}}</h2>
    <!-- <button class="ui icon button massive edit-buttons">
      Edit
      <i class="edit icon edit-icon" style="margin-left: -12.4px !important; margin-top: -11px !important;"></i>
    </button> -->
    <button class="ui labeled mini icon button edit-buttons">
      <!-- style="    padding-left: 40px !important; -->
     <!-- padding-right: 4px !important;" -->
      <i class="edit icon large"></i>
      <div class="float-button-text">Edit</div>
    </button>
    <div class="right menu">
      <div class="item">
      </div>
      <!-- <div class="tierion-color"></div> -->
      <!-- <h4 class="menu-left" suiPopup popupPlacement="center" popupInverted popupText="We use Tierion to securely anchor your hashed data to the blockchain. This allows us to prove the integrity and timestamp of your data.  The most recent block containing your data has been processed and all data is up to date.">Data Hashed and Anchored to Blockchain</h4> -->
      <!-- <button class="ui labeled mini icon button edit-buttons">
        <i class="edit icon large"></i>
        <div class="float-button-text">Edit</div>
      </button> -->
      <h4 class="menu-left">Share this portfolio:  link</h4>
      <button class="ui labeled mini icon button edit-buttons">
        <!-- style="    padding-left: 40px !important; -->
       <!-- padding-right: 4px !important;" -->
        <i class="edit icon large"></i>
        <div class="float-button-text">Edit</div>
      </button>
      <h4 class="menu-left">Password:  ndh57j132</h4>
      <button class="ui labeled mini icon button edit-buttons">
        <!-- style="    padding-left: 40px !important; -->
       <!-- padding-right: 4px !important;" -->
        <i class="edit icon large"></i>
        <div class="float-button-text">Edit</div>
      </button>
    </div>
  </div>
  <div class="ui grid top-margin">
    <div class="row">
      <div class="one wide column"></div>
      <div class="three wide column left aligned">
        <h4 class="grey-text sub header">Total Portfolio value</h4>
        <h1 class="ui header main-price">${{totalPortfolioValue}}</h1>
        <h4 *ngIf="this.totalPortfolioValue24hr > 0" class="sub header green-text">{{totalPortfolioValue24hr}}%</h4>
        <h4 *ngIf="this.totalPortfolioValue24hr < 0" class="sub header red-text">{{totalPortfolioValue24hr}}%</h4>
        <h4 *ngIf="this.totalPortfolioValue24hr === 0" class="sub header">{{totalPortfolioValue24hr}}%</h4>
      </div>
    <div class="eleven wide column">
      <high-chart [color]="color" [chartData]="chartData" [coinTicker]="coinTicker"></high-chart>
    </div>
    <div class="one wide column"></div>
    </div>
    <div class="row">
        <div class="one wide column"></div>
        <div class="one wide column">
          <h4 class="sub header">Holdings</h4>
        </div>
        <div class="fourteen wide column"></div>
    </div>
      <div class="row">
      <!--  <div class="two wide column"></div>-->
        <div class="sixteen wide column">
        <div class="ui cards cards-div">
          <div class="card">
            <div class="content">
              <div class="portfolio-color"></div>
              <div class="header card-header">Total Portfolio</div>
              <h4 *ngIf="this.totalPortfolioValue24hr > 0"  class="sub header green-text meta card-24-change">{{totalPortfolioValue24hr}}%</h4>
              <h4 *ngIf="this.totalPortfolioValue24hr < 0" class="sub header red-text meta card-24-change">{{totalPortfolioValue24hr}}%</h4>
              <h4 *ngIf="this.totalPortfolioValue24hr === 0" class="sub header meta card-24-change">{{totalPortfolioValue24hr}}%</h4>
              <div class="header card-price">${{totalPortfolioValue}}</div>
            </div>
          </div>
          <div class="card" *ngFor="let coin of cardsContent" (click)="chartCardData(coin.coinTicker, coin.coinColor)">
            <div class="content">
              <div [attr.Class]="coin.coinColorName"></div>
              <div class="header card-header">{{coin.coinName}}</div>
              <div *ngIf="coin.coin24Percent < 0" class="meta card-24-change red-text">{{coin.coin24Percent}}%</div>
              <div *ngIf="coin.coin24Percent > 0" class="meta card-24-change green-text">{{coin.coin24Percent}}%</div>
              <div *ngIf="coin.coin24Percent === 0" class="meta card-24-change">{{coin.coin24Percent}}%</div>
              <div class="header card-price">${{coin.coinPrice}}</div>
              <div class="header card-price">{{coin.coinAmt}}</div>
            </div>
          </div>
        </div>
        </div>
      <!--  <div class="one wide column"></div>-->
      </div>
      <!-- <div class="row">
        <h1 class="ui huge header">
          Buy/Sell
        </h1>
          <button (click)="openAddModal()" class="circular ui icon button">
            <i class="icon plus"></i>
          </button>
          <button (click)="openDeleteModal()" class="circular ui icon button">
            <i class="icon minus"></i>
          </button>
      </div> -->
      <ng-template let-context let-modal="modal" #modalAddTemplate>
        <div class="header">Buy Coins:</div>
        <div class="content">
          <form class="ui form" [formGroup]="newCoinForm" >
              <select name="coinName" [formControl]="newCoinForm.controls['coinName']">
                <option *ngFor="let coin of cryptoDropDownList" [value]="coin.Name">{{ coin.FullName }}</option>
              </select>
              <label for="coinAmtInput">Enter The Amount:</label>
              <input class="field ui input" type="text" id="coinAmtInput" [formControl]="newCoinForm.controls['coinAmt']"/>
          </form>
        </div>
        <div class="actions">
            <button class="ui red button" (click)="modal.deny('denied')">Cancel</button>
            <button class="ui green button" (click)="modal.approve(newCoinForm.value)" autofocus>OK</button>
        </div>
      </ng-template>
      <ng-template let-context let-modal="modal" #modalDeleteTemplate>
        <div class="header">Sell Coins:</div>
        <div class="content">
          <form class="ui form" [formGroup]="newCoinForm" >
              <select name="coinName" [formControl]="newCoinForm.controls['coinName']">
                <option *ngFor="let coin of cryptoDropDownList" [value]="coin.Name">{{ coin.FullName }}</option>
              </select>
              <label for="coinAmtInput">Enter The Amount:</label>
              <input class="field ui input" type="text" id="coinAmtInput" [formControl]="newCoinForm.controls['coinAmt']"/>
          </form>
        </div>
        <div class="actions">
            <button class="ui red button" (click)="modal.deny('denied')">Cancel</button>
            <button class="ui green button" (click)="modal.approve(newCoinForm.value)" autofocus>OK</button>
        </div>
      </ng-template>
  </div>
  <div class="ui footer admin-footer">
    <div class="ui large buttons">
      <button (click)="openAddModal()" class="ui button">Buy</button>
      <div class="or"></div>
      <button (click)="openDeleteModal()" class="ui button">Sell</button>
    </div>
  </div>
