<div class="ui middle aligned center aligned grid">
  <div class="twelve wide mobile six wide tablet four wide computer column">
    <h2 class="ui image header">
      <div class="content">
        Create your account
      </div>
    </h2>
    <form class="ui large form" [formGroup]="signUpForm" (ngSubmit)="addUser(signUpForm.value)">
      <div class="ui stacked secondary  segment">
        <div class="field">
          <div class="ui left icon input">
            <i class="user icon"></i>
            <input [formControl]="signUpForm.controls['username']" type="text" name="username" placeholder="User Name">
          </div>
        </div>
        <div class="field">
          <div class="ui left icon input">
            <i class="mail icon"></i>
            <input [formControl]="signUpForm.controls['email']" type="text" name="email" placeholder="E-mail address">
          </div>
        </div>
        <div class="field">
          <div class="ui left icon input">
            <i class="lock icon"></i>
            <input [formControl]="signUpForm.controls['password']" type="password" name="password" placeholder="Password">
          </div>
        </div>
        <button class="ui fluid large blue submit button"
        (click)="addUser(signUpForm.value)" type="button">Submit</button>
      </div>

      <div class="ui error message"></div>

    </form>

    <div class="ui message">
      Already have an account? <a routerLink="/log-in">Log in</a>
    </div>
  </div>
</div>
