<div class="ui middle aligned center aligned grid">
  <div class="twelve wide mobile six wide tablet four wide computer column">
    <h2 class="ui image header">
      <div class="content">
        Log-in to your account
      </div>
    </h2>
    <form class="ui large form" [formGroup]="logInForm" (ngSubmit)="logInUser(logInForm.value)">
      <div class="ui stacked secondary  segment">
        <div class="field">
          <div class="ui left icon input">
            <i class="mail icon"></i>
            <input [formControl]="logInForm.controls['email']" type="text" name="email" placeholder="E-mail address">
          </div>
        </div>
        <div class="field">
          <div class="ui left icon input">
            <i class="lock icon"></i>
            <input [formControl]="logInForm.controls['password']" type="password" name="password" placeholder="Password">
          </div>
        </div>
        <button class="ui fluid large blue submit button"
        (click)="logInUser(logInForm.value)" type="button">Submit</button>
      </div>

      <div class="ui error message"></div>

    </form>

    <div class="ui message">
      New to jynx? <a routerLink="/sign-up">Sign Up</a>
    </div>
  </div>
</div>
