  <div class="ui huge borderless fixed fluid menu">
      <h2 class="header item">{{portfolioName}}</h2>
      <div class="right menu">
        <div class="item">
        </div>
        <a routerLink="/" class="item">Home</a><a routerLink="/dashboard" class="item">Dashboard</a><a class="item">Share</a><a routerLink="/settings" class="item">Settings</a>
      </div>
    </div>
    <div class="ui grid">
      <div class="row">
        <div class="column" id="content">
          <div class="ui grid">
            <div class="row">
              <h3>Total Portfolio value</h3>
            <high-chart [color]="color" [chartData]="chartData" [coinTicker]="coinTicker"></high-chart>
            </div>
            <div class="ui hidden section divider"></div>
            <h1 class="ui huge header">
              Holdings
            </h1>
            <div class="ui cards">
              <div class="card">
                <div class="content">
                  <div class="header">Total Portfolio</div>
                  <div class="meta">+.98%</div>
                  <div class="description">${{totalPortfolioValue}}</div>
                </div>
              </div>
              <div class="card" *ngFor="let coin of cardsContent" (click)="chartCardData(coin.coinTicker, coin.coinColor)">
                <div class="content">
                  <div [attr.Class]="coin.coinColorName"></div>
                  <div class="header">{{coin.coinName}}</div>
                  <div class="meta">{{coin.coin24}}%</div>
                  <div class="description">${{coin.coinPrice}}</div>
                </div>
              </div>
            </div>
            <div class="row">
              <h1 class="ui huge header">
                All Coins
              </h1>
                <button (click)="openAddModal()" class="circular ui icon button">
                  <i class="icon plus"></i>
                </button>
                <button (click)="openDeleteModal()" class="circular ui icon button">
                  <i class="icon minus"></i>
                </button>
            </div>
            <ng-template let-context let-modal="modal" #modalAddTemplate>
              <div class="header">Add coins:</div>
              <div class="content">
                <form class="ui form" [formGroup]="newCoinForm" >
                    <select name="coinName" [formControl]="newCoinForm.controls['coinName']">
                      <option *ngFor="let coin of cryptoDropDownList" [value]="coin.Name">{{ coin.FullName }}</option>
                    </select>
                    <label for="coinAmtInput">Enter The Amount:</label>
                    <input class="field ui input" type="text" id="coinAmtInput" [formControl]="newCoinForm.controls['coinAmt']"/>
                </form>
              </div>
              <div class="actions">
                  <button class="ui red button" (click)="modal.deny('denied')">Cancel</button>
                  <button class="ui green button" (click)="modal.approve(newCoinForm.value)" autofocus>OK</button>
              </div>
            </ng-template>
            <ng-template let-context let-modal="modal" #modalDeleteTemplate>
              <div class="header">Delete coins:</div>
              <div class="content">
                <form class="ui form" [formGroup]="newCoinForm" >
                    <select name="coinName" [formControl]="newCoinForm.controls['coinName']">
                      <option *ngFor="let coin of cryptoDropDownList" [value]="coin.Name">{{ coin.FullName }}</option>
                    </select>
                    <label for="coinAmtInput">Enter The Amount:</label>
                    <input class="field ui input" type="text" id="coinAmtInput" [formControl]="newCoinForm.controls['coinAmt']"/>
                </form>
              </div>
              <div class="actions">
                  <button class="ui red button" (click)="modal.deny('denied')">Cancel</button>
                  <button class="ui green button" (click)="modal.approve(newCoinForm.value)" autofocus>OK</button>
              </div>
            </ng-template>
            <div class="ui divider"></div>
            <!-- <div class="row">
              <table class="ui single line striped selectable table">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>Asset</th>
                    <th>Last Price</th>
                    <th>Quantity</th>
                    <th>USD Value</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let coin of tableContent">
                    <td>#</td>
                    <td>{{coin.asset}}</td>
                    <td>{{coin.lastPrice}}</td>
                    <td>{{coin.qty}}</td>
                    <td>{{coin.usdValue}}</td>
                </tbody>
              </table>
            </div> -->
          </div>
        </div>
      </div>
    </div>

    <div class="ui inverted vertical footer segment">
      <div class="ui container">
        <div class="ui stackable inverted divided equal height stackable grid">
          <div class="three wide column">
            <h4 class="ui inverted header">
              About
            </h4>
            <div class="ui inverted link list">
              <a class="item" href="homepage.html#"> Sitemap</a><a class="item" href="homepage.html#"> Contact Us</a>
            </div>
          </div>
          <div class="three wide column">
            <h4 class="ui inverted header">
              Navigate
            </h4>
            <div class="ui inverted link list">
              <a class="item" href="homepage.html#"> Home </a><a class="item" href="homepage.html#"> Portfolio </a><a class="item" href="homepage.html#"> Share</a><a class="item" href="homepage.html#"> Settings</a>
            </div>
          </div>
          <div class="seven wide column">
            <h4 class="ui inverted header">
              Footer Header
            </h4>
            <p>
              Extra space for a call to action inside the footer that could help re-engage users.
            </p>
          </div>
        </div>
      </div>
    </div>
