  <div class="ui inverted huge borderless fixed fluid menu">
      <a routerLink="/" class="header item">JYNX</a>
      <div class="right menu">
        <div class="item">
          <!-- <div class="ui small input">
            <input placeholder="Search..." />
          </div> -->
        </div>
        <a routerLink="/" class="item">Home</a><a class="item">Portfolio</a><a class="item">Share</a><a routerLink="/settings" class="item">Settings</a>
      </div>
    </div>
    <div class="ui grid">
      <div class="row">
        <div class="column" id="sidebar">
          <div class="ui secondary vertical fluid menu">
            <a class="active item">Portfolio</a><a class="item">Charts</a><a class="item">Analytics</a><a class="item">Share</a>
            <div class="ui hidden divider"></div>
            <a class="item">Privacy Settings</a><a class="item">Profile Settings</a>
          </div>
        </div>
        <div class="column" id="content">
          <div class="ui grid">
            <div class="row">
              <h1 class="ui huge header">
                Top Coins
              </h1>
            </div>
            <div class="ui divider"></div>
            <div class="four column center aligned row">
              <div class="column">
                <img class="ui centered small circular image" src="../../static/images/templates/semantic-ui/wireframe/square-image.png" />
                <div class="ui hidden divider"></div>
                <div class="ui large green label">
                  Bitcoin
                </div>
                <p>
                  +18.6%
                </p>
              </div>
              <div class="column">
                <img class="ui centered small circular image" src="../../static/images/templates/semantic-ui/wireframe/square-image.png" />
                <div class="ui hidden divider"></div>
                <div class="ui large green label">
                  Tronix
                </div>
                <p>
                  +25.24%
                </p>
              </div>
              <div class="column">
                <img class="ui centered small circular image" src="../../static/images/templates/semantic-ui/wireframe/square-image.png" />
                <div class="ui hidden divider"></div>
                <div class="ui large green label">
                  Litecoin
                </div>
                <p>
                  +20.32%
                </p>
              </div>
              <div class="column">
                <img class="ui centered small circular image" src="../../static/images/templates/semantic-ui/wireframe/square-image.png" />
                <div class="ui hidden divider"></div>
                <div class="ui large red label">
                  IOTA
                </div>
                <p>
                  -1.5%
                </p>
              </div>
            </div>
            <div class="ui hidden section divider"></div>
            <div class="row">
              <h1 class="ui huge header">
                All Coins
              </h1>
            </div>
            <div class="ui divider"></div>
            <div class="row">
              <table class="ui single line striped selectable table">
                <thead>
                  <tr>
                    <th>
                      #
                    </th>
                    <th>
                      Asset
                    </th>
                    <th>
                      Last Price
                    </th>
                    <th>
                      Quantity
                    </th>
                    <th>
                      USD Value
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      1
                    </td>
                    <td>
                      Bitcoin
                    </td>
                    <td>
                      16,234
                    </td>
                    <td>
                      14
                    </td>
                    <td>
                      227276
                    </td>
                  </tr>
                  <tr>
                    <td>
                      2
                    </td>
                    <td>
                      Tronix
                    </td>
                    <td>
                      .20
                    </td>
                    <td>
                      748123
                    </td>
                    <td>
                      149624.6
                    </td>
                  </tr>
                  <tr>
                    <td>
                      3
                    </td>
                    <td>
                      Litecoin
                    </td>
                    <td>
                      100
                    </td>
                    <td>
                      300
                    </td>
                    <td>
                      30000
                    </td>
                  </tr>
                  <tr>
                    <td>
                      4
                    </td>
                    <td>
                      IOTA
                    </td>
                    <td>
                      3.20
                    </td>
                    <td>
                      10
                    </td>
                    <td>
                      32
                    </td>
                  </tr>
                  <tr>
                    <td>
                      1,004
                    </td>
                    <td>
                      dapibus
                    </td>
                    <td>
                      diam
                    </td>
                    <td>
                      Sed
                    </td>
                    <td>
                      nisi
                    </td>
                  </tr>
                  <tr>
                    <td>
                      1,005
                    </td>
                    <td>
                      Nulla
                    </td>
                    <td>
                      quis
                    </td>
                    <td>
                      sem
                    </td>
                    <td>
                      at
                    </td>
                  </tr>
                  <tr>
                    <td>
                      1,006
                    </td>
                    <td>
                      nibh
                    </td>
                    <td>
                      elementum
                    </td>
                    <td>
                      imperdiet
                    </td>
                    <td>
                      Duis
                    </td>
                  </tr>
                  <tr>
                    <td>
                      1,007
                    </td>
                    <td>
                      sagittis
                    </td>
                    <td>
                      ipsum
                    </td>
                    <td>
                      Praesent
                    </td>
                    <td>
                      mauris
                    </td>
                  </tr>
                  <tr>
                    <td>
                      1,008
                    </td>
                    <td>
                      Fusce
                    </td>
                    <td>
                      nec
                    </td>
                    <td>
                      tellus
                    </td>
                    <td>
                      sed
                    </td>
                  </tr>
                  <tr>
                    <td>
                      1,009
                    </td>
                    <td>
                      augue
                    </td>
                    <td>
                      semper
                    </td>
                    <td>
                      porta
                    </td>
                    <td>
                      Mauris
                    </td>
                  </tr>
                  <tr>
                    <td>
                      1,010
                    </td>
                    <td>
                      massa
                    </td>
                    <td>
                      Vestibulum
                    </td>
                    <td>
                      lacinia
                    </td>
                    <td>
                      arcu
                    </td>
                  </tr>
                  <tr>
                    <td>
                      1,011
                    </td>
                    <td>
                      eget
                    </td>
                    <td>
                      nulla
                    </td>
                    <td>
                      Class
                    </td>
                    <td>
                      aptent
                    </td>
                  </tr>
                  <tr>
                    <td>
                      1,012
                    </td>
                    <td>
                      taciti
                    </td>
                    <td>
                      sociosqu
                    </td>
                    <td>
                      ad
                    </td>
                    <td>
                      litora
                    </td>
                  </tr>
                  <tr>
                    <td>
                      1,013
                    </td>
                    <td>
                      torquent
                    </td>
                    <td>
                      per
                    </td>
                    <td>
                      conubia
                    </td>
                    <td>
                      nostra
                    </td>
                  </tr>
                  <tr>
                    <td>
                      1,014
                    </td>
                    <td>
                      per
                    </td>
                    <td>
                      inceptos
                    </td>
                    <td>
                      himenaeos
                    </td>
                    <td>
                      Curabitur
                    </td>
                  </tr>
                  <tr>
                    <td>
                      1,015
                    </td>
                    <td>
                      sodales
                    </td>
                    <td>
                      ligula
                    </td>
                    <td>
                      in
                    </td>
                    <td>
                      libero
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="ui inverted vertical footer segment">
      <div class="ui container">
        <div class="ui stackable inverted divided equal height stackable grid">
          <div class="three wide column">
            <h4 class="ui inverted header">
              About
            </h4>
            <div class="ui inverted link list">
              <a class="item" href="homepage.html#"> Sitemap</a><a class="item" href="homepage.html#"> Contact Us</a>
            </div>
          </div>
          <div class="three wide column">
            <h4 class="ui inverted header">
              Navigate
            </h4>
            <div class="ui inverted link list">
              <a class="item" href="homepage.html#"> Home </a><a class="item" href="homepage.html#"> Portfolio </a><a class="item" href="homepage.html#"> Share</a><a class="item" href="homepage.html#"> Settings</a>
            </div>
          </div>
          <div class="seven wide column">
            <h4 class="ui inverted header">
              Footer Header
            </h4>
            <p>
              Extra space for a call to action inside the footer that could help re-engage users.
            </p>
          </div>
        </div>
      </div>
    </div>
