body {
        display: relative;
      }

      .top-margin{
        margin-top: 100px;
      }

      .tierion-color{
        margin-top: 31px;
        margin-right: 5px;
        width: 10px;
        height:   10px;
        background: #e43777;
        -moz-border-radius: 50px;
        -webkit-border-radius: 50px;
        border-radius: 50px;
      }

      .menu-left {
      margin-right: 35px;
      }

      .green-text{
        color: #009933 !important;
      }

      .red-text{
        color: #D14836 !important;
      }

      .card-grey{
        background: lightgrey !important;
        opacity: 0.79 !important;
      }

      .cards-div{
        padding-left: 46px;
      }

      .card-header{
        margin-top: -20px !important;
        float: left;
        padding-left: 40px;
      }

      .card-24-change{
        margin-top: 12px;
        float: left;
        margin-left: -63px;
      }

      .card-price{
        float: right;
        margin-top: -9px !important;
        font-size: 17 !important;
      }

      .grey-text{
        color: rgba(0,0,0,.4);
      }

      .main-price{
        margin-top: -2px;
        margin-bottom: -2px;
      }

      .portfolio-color {
        width: 18px;
        height: 18px;
        background: #81AE9D;
        -moz-border-radius: 50px;
        -webkit-border-radius: 50px;
        border-radius: 50px;
      }

      .color1 {
        width: 18px;
        height: 18px;
        background: #828A95;
        -moz-border-radius: 50px;
        -webkit-border-radius: 50px;
        border-radius: 50px;
      }

      .color2 {
        width: 18px;
        height: 18px;
        background: #C98686;
        -moz-border-radius: 50px;
        -webkit-border-radius: 50px;
        border-radius: 50px;
      }

      .color3 {
        width: 18px;
        height: 18px;
        background: #3C7A89;
        -moz-border-radius: 50px;
        -webkit-border-radius: 50px;
        border-radius: 50px;
      }

      .color4 {
        width: 18px;
        height: 18px;
        background: #C9B1BD;
        -moz-border-radius: 50px;
        -webkit-border-radius: 50px;
        border-radius: 50px;
      }

      .color5 {
        width: 18px;
        height: 18px;
        background: #81AE9D;
        -moz-border-radius: 50px;
        -webkit-border-radius: 50px;
        border-radius: 50px;
      }

      #content {
        margin-left: 19%;
        width: 81%;
        margin-top: 3em;
        padding-left: 3em;
        float: left;
      }
      #content > .ui.grid {
        padding-right: 4em;
        padding-bottom: 3em;
      }
      #content h1 {
        font-size: 36px;
      }
      #content .ui.divider:not(.hidden) {
        margin: 0;
      }
      #content table.ui.table {
        border: none;
      }
      #content table.ui.table thead th {
        border-bottom: 2px solid #eee !important;
      }
